/build
/4diac-forte
/configurations/*
!/configurations/native-toolchain.txt
!/configurations/debug.txt
!/configurations/inc
!/configurations/test
/dependencies/*
!/dependencies/recipes
compile_commands.json
/modules/*/*
!/modules/*/.gitignore
/*.zip
/dependencies/recipes/forte/package.txt
.gdbinit
.gdb_history
