/build
/runtime*
/configurations/*
!/configurations/native-toolchain.txt
!/configurations/debug.txt
!/configurations/inc
!/configurations/test
/dependencies/*
!/dependencies/recipes
compile_commands.json
/modules/*/*
!/modules/*/.gitignore
/*.zip
/dependencies/recipes/forte/package.txt
/compile.sh
/compile.cmd
.gdbinit
.gdb_history
.cache
__pycache__
